.dropdown {
    width: 978px;
    height: 91px;
    color: $main-color;
    &__title-container {
        padding: 7px 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $main-color;
    }
}

.dropdown h3 {
    color: $text-color2;
}

.dropdown {
    &__text-container {
        background-color: $secondary-color;
        height: 146px;

    }
}
