.navigation {
    ul {
        display: flex;
        gap: 60px ;
        list-style: none ;
    }
}

.navigation a {
    text-decoration: none;
    font-size: $text;
    &:visited {
        color: $main-color;
    }
}

.nav-active {
    border-bottom: 2px solid;
    padding-bottom: 3px;
}
