.tags {
    display: flex;
    margin: 23px 100px;
    gap: 15px;
    font-size: $tag-name;
    .tag {
        padding: 5px 45px;
        background-color: $main-color;
        color: $text-color2;
        border-radius: 10px;
    }
}