.tags {
    display: flex;
    margin: 30px 100px 18px;
    gap: 15px;
    .tag {
        padding: 5px 45px;
        background-color: $main-color;
        color: $text-color2;
        border-radius: 13px;
    }
}