.fl__text {
    color: $main-color;
    .fl__title {
        font-family: $font1-light;
        font-size: $subtitle;
    }
    .fl__localisation {
        font-family: $font1-light;
        font-size: $sub-text;
    }
}